@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    min-height: 850px;
    background-image: radial-gradient(#4500a0, black);
    background-color: #ffffff;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding-bottom: 20vh;
    overflow: hidden;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 5px 0;
}

button {
    padding: .8rem 1.5rem;
    margin: 1rem 0;
    font-size: 1rem;
    background-color: yellow;
    color: blue;
    width: 300px;
    height: 70px;
    border: 2px solid rgb(0, 0, 0);
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    font-weight: 900;
    margin: auto;
  
}
button:disabled{
    background-color: rgba(240, 248, 255, 0.561);
    border: none;
    color: rgb(0, 0, 0);
    cursor: not-allowed;
}

h2 {
    color: white;
}
.wrapper{
    margin: auto;
}
#carta-jogador {
    text-transform: uppercase;
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 10px;
    border-radius: 33px;
    left: -40%;
}
#carta-maquina {
    text-transform: uppercase;
    width: 360px;
    height: 500px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 10px;
    border-radius: 33px;
    left: -20%;
}
.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.carta-imagem img {
    width: 100%;
    height: 100%;
}

.carta-status {
    height: 160px;
    margin: 2rem;
    color: white;
    z-index: 2;
}

.carta-status input {
    margin: 20px 10px;
}

.resultado-final {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1rem;
    border: 2px solid black;
    background-color: black;
}

.--spacing {
    margin-left: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.carta-subtitle {
    /* z-index: 2; */
    position: absolute;
    top: 16px;
    left: 37px;
    font-weight: 800;
    text-transform: uppercase;
}

#cartas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.carta-status p {
    margin-bottom: 2rem;
}